header{
    background-color: gray;
    border: 5px chartreuse;
    width: 770px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}

main{
    width: 780px;
    height: 400px;
}

nav{
    background-color: gray;
    width: 150px;
    height: 390px;
    float: left; /* significa que se ubicara del lado izquierdo de la web */
    margin: 5px;
    border-radius: 10px;
}

section{
    background-color: gray;
    width: 450px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 5px;
}

#primero{ /* para darle estilos a una etiqueta identificada o con Id se una esta sintaxis */
    background-color: burlywood;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;
}

#segundo{ /* para darle estilos a una etiqueta identificada o con Id se una esta sintaxis */
    background-color: burlywood;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;
}

#tercero{ /* para darle estilos a una etiqueta identificada o con Id se una esta sintaxis */
    background-color: burlywood;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;
}

aside{
    background: gray;
    width: 150px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

footer{
    background-color: gray;
    width: 770px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
}